<div class="seperator"></div>
<div class="wrap">
	<h1>Welcome at Youtube Monster!</h1>
	<div id="playerwrapper" style="margin-bottom: 10px;">
		<div id="slider" class="nivoSlider">
			<a href="./c/humor/"><img src="./{templateroot}/images/homeslider/humor.png" data-thumb="images/up.jpg" alt="" /></a>
			<a href="./c/dubstep/"><img src="./{templateroot}/images/homeslider/dubstep.png" data-thumb="images/up.jpg" alt="" /></a>
			<a href="./c/cars/"><img src="./{templateroot}/images/homeslider/cars.png" data-thumb="images/up.jpg" alt="" /></a>
		</div>
		<div class="tl"></div>
		<div class="tr"></div>
		<div class="bl" style="bottom: 0px;"></div>
		<div class="br" style="bottom: 0px;"></div>
	</div>

	<h1>Latest video's</h1>
	<div id="latestvids">
	[repeater:latestvids]
	<div class="videobox">
		<a class="imgwrap" style="background: url('http://img.youtube.com/vi/{videotag}/0.jpg') no-repeat center center;" href="{base}c/{categoryurl}/{urltitle}/"></a>
		<h3>{title}</h3>
		<p class="category">{category}</p>
	</div>
	[/repeater:latestvids]
	</div>

	<script type="text/javascript">
		$(window).load(function() {
			$('#slider').nivoSlider({
				//animSpeed: 500,
				//pauseTime: 5000,
				directionNav: false,
				controlNav: false,
				pauseTime: 5000,
				randomStart: true
			});
		});
	</script>
</div>