{introtext}
{errors}
<form action="" method="post">
	<p>
		<b>Username:</b><br />
		<input type="text" value="{username}" name="username" />
	</p>
	<p>
		<b>Real name:</b><br />
		<input type="text" value="{name}" name="name" />
	</p>
	<p>
		<b>E-mail address:</b><br />
		Your e-mail address is required to activate your account.<br />
		<input type="text" value="{email}" name="email" />
	</p>
	<p>
		<b>Password:</b><br />
		<input type="password" value="{password1}" name="password1" />
	</p>
	<p>
		<b>Repeat password:</b><br />
		<input type="password" value="{password2}" name="password2" />
	</p>
	<p>
		<input type="submit" value="Register!" name="register" />
	</p>
</form>