<p><a href="./{prevurl}" style="display: {displayprev};">Previous video</a> <a href="./{nexturl}" style="display: {displaynext};">Next video</a></p>

<h1>{videotitle}</h1>
<h3>{videouser}</h3>

<div id="player"></div>
<p>
	Status:
	state[<span id="state"></span>]
	timeat[<span id="timeat"></span>]
	totaltime[<span id="totaltime"></span>]
</p>
<p>{videocontent}</p>

<script>
	// GRAB YOUTUBE PLAYER
	// https://developers.google.com/youtube/iframe_api_reference
	var tag = document.createElement('script');
	tag.src = "//www.youtube.com/iframe_api";
	var firstScriptTag = document.getElementsByTagName('script')[0];
	firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
	
	// STEAMER VARS
	var nextvideo = '{base}{nexturl}';
	var startat = {startat};
	var endat = {endat};
	
	var player;
	function onYouTubeIframeAPIReady(){
		player = new YT.Player('player', {
			height: '390',
			width: '640',
			videoId: '{tag}',
			playerVars: {
				'controls': 0,
				'autoplay': 1,
				'rel': 0,
				'iv_load_policy': 3
			},
			events: {
				'onReady': onPlayerReady
			}
		});
	}
	
	function onPlayerReady(event){
		if(startat > 0)
			player.seekTo(startat, true);
		player.playVideo();
		statusChecker();
		player.setSize(($('#content').width() - 20), Math.round(($('#content').width() - 20) * 9 / 16));
	}
					
	function totime(seconds){
		seconds = Math.round(seconds);
		var result = '';
		if(Math.floor(seconds / 3600) > 0){
			var hours = Math.floor(seconds / 3600);
			result += hours + ':';
			seconds = seconds - (hours * 3600);
		}
		var minutes = hours = Math.floor(seconds / 60);
		if(minutes < 10) result += '0';
		result += minutes + ':';
		seconds = seconds - (minutes * 60);
		if(seconds < 10) result += '0';
		result += seconds;
		return result;
	}
	
	function statusChecker(){
		// Grab player vars
		var state = player.getPlayerState();
		var timeat = player.getCurrentTime();
	
		// Debug state
		$('#state').html(state);
		$('#timeat').html(totime(timeat));
		$('#totaltime').html(totime(player.getDuration()));
		
		// Check if video is done to move on
		if(state == 0 || timeat > endat){
			window.location = nextvideo;
		}
		// If not done visit again soon
		else{
			setTimeout(function(){
				statusChecker();
			}, 500);
		}
	}
</script>